<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app id="WebApp_ID">
	<display-name>portfolio</display-name>
	<listener>
		<listener-class>com.begin.Start</listener-class>
	</listener>
	<servlet>
		<servlet-name>SavePort</servlet-name>
		<display-name>SavePort</display-name>
		<description></description>
		<servlet-class>com.controller.SavePort</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SavePortfolio</servlet-name>
		<display-name>SavePortfolio</display-name>
		<description></description>
		<servlet-class>com.controller.SavePort</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteMessage</servlet-name>
		<display-name>DeleteMessage</display-name>
		<description></description>
		<servlet-class>com.controller.DeleteMessage</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AdminLogin</servlet-name>
		<display-name>AdminLogin</display-name>
		<description></description>
		<servlet-class>com.controller.AdminLogin</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Logout</servlet-name>
		<display-name>Logout</display-name>
		<description></description>
		<servlet-class>com.controller.Logout</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateCredential</servlet-name>
		<display-name>UpdateCredential</display-name>
		<description></description>
		<servlet-class>com.controller.UpdateCredential</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddProject</servlet-name>
		<display-name>AddProject</display-name>
		<description></description>
		<servlet-class>com.controller.AddProject</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddProjectF</servlet-name>
		<display-name>AddProjectF</display-name>
		<description></description>
		<servlet-class>com.controller.AddProjectF</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddProjectf</servlet-name>
		<display-name>AddProjectf</display-name>
		<description></description>
		<servlet-class>com.controller.AddProject</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Education</servlet-name>
		<display-name>Education</display-name>
		<description></description>
		<servlet-class>com.controller.Education</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UploadResume</servlet-name>
		<display-name>UploadResume</display-name>
		<description></description>
		<servlet-class>com.controller.UploadResume</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DownloadResume</servlet-name>
		<display-name>DownloadResume</display-name>
		<description></description>
		<servlet-class>com.controller.DownloadResume</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SavePort</servlet-name>
		<url-pattern>/SavePort</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SavePortfolio</servlet-name>
		<url-pattern>/SavePortfolio</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteMessage</servlet-name>
		<url-pattern>/DeleteMessage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminLogin</servlet-name>
		<url-pattern>/AdminLogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateCredential</servlet-name>
		<url-pattern>/UpdateCredential</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddProject</servlet-name>
		<url-pattern>/AddProject</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddProjectF</servlet-name>
		<url-pattern>/AddProjectF</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddProjectf</servlet-name>
		<url-pattern>/AddProjectf</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Education</servlet-name>
		<url-pattern>/Education</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UploadResume</servlet-name>
		<url-pattern>/UploadResume</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DownloadResume</servlet-name>
		<url-pattern>/DownloadResume</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
